#logo { margin-top: 70px; margin-bottom: 50px; width: 90%; }

.center { text-align: center; display: block; margin-right: auto; margin-left: auto; }

.face { width: 150px; height: 150px; border-radius: 75px; }

#con { border-radius: 0px 3px 3px; -webkit-border-radius: 0px 3px 3px; -moz-border-radius: 0px 3px 3px; box-shadow: black 3px 3px 0px 8px; -webkit-box-shadow: black 3px 3px 0px 8px; -moz-box-shadow: black 3px 3px 0px 8px; margin-bottom: 50px; text-align: center; width: 300px; margin-left: auto; margin-right: auto; }
#con h2 { font-family: "Helvetica Neue", calibri, corbel; font-weight: bolder; }
