$red: #D22E19;
$navy: #242658;
$orange: #F1B230;
body{
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
#logo{
	margin-top: 70px;
	margin-bottom: 50px;
	width: 90%;
}
.center{
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.face{
	width: 150px;
	height: 150px;
	border-radius:75px; 
}
#con{
	border-radius:0px 3px 3px;
	-webkit-border-radius:0px 3px 3px;
	-moz-border-radius:0px 3px 3px;
	box-shadow:rgb(0, 0, 0) 3px 3px 0px 8px;
	-webkit-box-shadow:rgb(0, 0, 0) 3px 3px 0px 8px;
	-moz-box-shadow:rgb(0, 0, 0) 3px 3px 0px 8px;
	margin-bottom:50px;
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto; 
	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	animation-fill-mode: backwards;
	&:hover{
		transform: scale(1.1) rotate(-7deg);
		-moz-transform: scale(1.1) rotate(-7deg);
		-webkit-transform: scale(1.1) rotate(-7deg);
	}
	h2{
		font-family: "Helvetica Neue", calibri, corbel;
		font-weight: bolder;
		color: black;
	}
}
img.menu{
	margin-top: 20px;
	animation-fill-mode: backwards;
	-webkit-transition: 0.2s ease;
	&:hover{
		-webkit-transform: scale(1.2) rotate(-7deg);
		opacity:(0.8);
	}
}
#kyo{
	margin: 20px 0;
	text-align: center;
	color: $orange;
	font-weight: bold;
}
.rightside{
	width: 50px;
	position: fixed;
	right: 0;
	top: 10%;
	visibility: hidden;
}
$rtside: 5px 0px 0px 5px;
.to{
	display: table;
	text-align: center;
	right: 0;
	width: 30px;
	border-radius: $rtside;
	background-color: $orange;
	height: 70px;
	margin: 13px 0 13px auto;
	transition: all 0.2s ease;
	box-shadow: 2px 2px 0px 5px rgb(0, 0, 0);
	-webkit-box-shadow: 2px 2px 0px 5px rgb(0, 0, 0);
	-moz-box-shadow: 2px 2px 0px 5px rgb(0, 0, 0);
	&:hover{
		width: 50px;
	}
	p{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		font-weight: bold;
		color: white;
		font-size: 20px;
	}
}
.main{
	margin-top: 20%;
	width: 70%;
}
.mainc{
	width: 100%;
	transform: scale(1.5);
}